@keyframes rodar {
     from { transform: rotate(0deg); }     
     to { transform: rotate(720deg); } 
 } 

#load{
	margin-left: 45%;
	width: 130px;
	height: 130px;
	animation-name: rodar;
	animation-duration: 3s;
	animation-timing-function: linear;
}
h1{
	font-family: Roboto Thin;
	margin-left: 550px;
}
#foto{
	float: right;
	width: 50px;
	height: 50px;
	border:solid 1px #dddddd;
	border-radius: 2em;
}
#desc{
	font-size: 12px;
	margin-top: 2%; 
	margin-left: 40%;
	position: absolute;
	font-family: Roboto;
}